<mat-sidenav-container>
	<mat-sidenav-content>
		<ul class="nav_list">
			<li><button mat-button ><a routerLink="/appointment">Agendar citas</a></button></li>
			<li><button mat-button ><a routerLink="/schedule">Ver agenda</a></button></li>
			<li><button mat-button><a routerLink="/doctor">Ver Especialista</a></button></li>
			<li><button mat-button><a routerLink="/visit">Medico en casa</a></button></li>
			<li><button mat-button><a routerLink="/surgery">Cotizar cirugía</a></button></li>
		</ul>
	</mat-sidenav-content>
</mat-sidenav-container>		
<router-outlet></router-outlet>
