/* You can add global styles to this file, and also import other style files */

html, body { 
height: 100%; 
background: #83a4d4; 
	background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  
	background: linear-gradient(to right, #b6fbff, #83a4d4);  
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
